.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: monospace;
  text-transform: uppercase;
}

.App-header h1 {
  color: #fbff00;
}

.App-header h2 {
  color: darkgray;
}

.App-link {
  color: #09d3ac;
}

.pagina-titel {
  color: white;
}

.pagina-blok {
  text-align: center;
  /* background-color: white; */
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 8px 0 rgba(253, 253, 253, 0.2);
  transition: 0.3s;
}

.pagina-blok:hover {
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.5);
}

.form-control {
  background-color: white !important;
  color: darkgray !important;
  border-color: darkgray !important;
  border-left-style: none !important;
  border-width: 2px !important;
  border-radius: 0 !important;
}

.input-group-text {
  background-color: white !important;
  color: darkgray !important;
  border-color: darkgray !important;
  border-right-style: none !important;
  border-width: 2px !important;
  border-radius: 0 !important;
}

label {
  color: white;
}

.sigCanvas {
  border: white solid 1px;
}

.totaalprijs {
  font-weight: bold;
}

.productenlijst {
  font-weight: bold;
}

.form-control {
  background-clip: unset;
}

#klantnaam {
  background-clip: unset;
}

#werknemer {
  background-clip: unset;
}

#locatie {
  background-clip: unset;
}
