body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "monospace", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    180deg,
    rgb(29, 29, 28) 0%,
    rgb(70, 70, 56) 50%,
    rgba(29, 29, 28) 100%
  );
}

code {
  font-family: "monospace", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New";
}
